QDRANT_API="ey......."
QDRANT_URL="https://...."

MONGO_CONNECTION_URL="mongodb+srv://......."

RAZORPAY_API="rzp_test_......."
RAZORPAY_SECRET="............"

OAUTH_CLIENT_ID="......"
OAUTH_CLIENT_SECRET=".........."

HOST="........"
PORT="..........."

AUTH_HOST="............."
AUTH_PORT="......."
AUTH_REALM="..........."